.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lougoutbox{
	width:100%;
	padding:20px;
}
.logout{
	width:100px;
	height:40px;
	line-height: 40px;
	border: 1px solid;
	border-radius: 15px;
	float: right;
	margin-right: 20%;
}
.logout:hover{
	background-color: #61dafb;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: 10%;
	width: 80%;
	margin-top: 5%;
}
.t_h{
	width: 100%;
	background-color: aqua;
}
td{
	width: 2%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top: 0.0625rem solid;
	border-bottom: 0.0625rem solid;
}
.add_txt{
	width:100px;
	height:40px;
	line-height: 40px;
	border: 1px solid;
	border-radius: 15px;
	float: right;
	margin-right: 20%;
}
.add_txt:hover{
	background-color: #61dafb;
}
